<!-- Form for signing in from navigation bar -->

<% if current_user %>

  <ul class="nav">
    <li><%= link_to 'Log out', signout_path, method: "delete" %></li>
  </ul>

<% else %>

  <!-- NIE DZIAÅA TA KURWA -->

  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <%= f.text_field :email, :class => 'span2', :placeholder => 'Email'%>
    <%= f.password_field :password, :class => 'span2', :placeholder => 'Password'%>
    <%= f.submit 'Sign in', :class => 'btn'%>
  <% end %>

<% end %>
