<% provide(:title, "Sign in") %>
<div class="well" style="margin: auto; width: 226px">
  <h2 class="center" style="text-transform: uppercase">Sign in</h2>

      <%= form_for(:session, url: sessions_path) do |f| %>

        <%= f.label :email %>
        <%= f.text_field :email %>

        <%= f.label :password %>
        <%= f.password_field :password %>
        <p>
          <%= f.submit "Sign in", class: "btn btn-primary" %>
        </p>
      <% end %>

      <p>New user? <%= link_to "Sign up now!", signup_path %></p>
</div>



