<% provide(:title, 'Rejestracja') %>
<div class="row-fluid">
  <div class="span4 offset4 well">
    <%= form_for(@user, :html => {:class => ""}) do |f| %>
      <fieldset>
        <legend>
          Panel rejestracji
        </legend>
          <%= f.label :email, "Login (e-mail)", class: 'control-label'%>
          <%= f.text_field :email, class: 'span12'%>
          <%= f.label :password, "Hasło", class: 'control-label' %>
          <%= f.password_field :password, class: 'span12' %>
          <%= f.label :password_confirmation, "Powtórz hasło", class: 'control-label' %>
          <%= f.password_field :password_confirmation, class: 'span12' %>
          <%= f.submit "Utwórz konto", class: 'btn btn-primary' %>
          <%= link_to "Anuluj", root_url, class: 'btn btn-submit' %>
      </fieldset>
    <% end %>
  </div>
</div>

