<% provide(:title, "Your profile") %>
<div class="row-fluid">
  <div class="span4 offset4 well" style="position: relative">
    <legend>
      Your profile
    </legend>
    <table class="table">
      <tbody>
        <tr>
          <th>Created:</th>
          <% t = @user.created_at.localtime %>
          <td><%= t.strftime("%d.%m.%Y") %></td>
        </tr>
        <tr>
          <th>E-mail:</th>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <th>Address:</th>
          <td>
            <%= @user.try {|u| "#{u.name} #{u.last_name}"} %><br>
            <%= @user.try {|u| "#{u.street} #{u.home_number}"} %><br>
            <%= @user.try {|u| "#{u.zip_code} #{u.city}"} %>
          </td>
        </tr>
        <tr>
          <th>Phone:</th>
          <td><%= @user.phone %></td>
        </tr>
      </tbody>
    </table>
    <%= link_to "Edit profile", edit_user_path(current_user), class: 'btn btn-warning' %>
    <%= link_to "Cancel", root_url, class: 'btn btn-submit' %>
  </div>
</div>
