<% provide(:title, "Twój profil") %>
<div class="row-fluid">
  <div class="span4 offset4 well" style="position: relative">
    <legend>
      Twój profil
    </legend>
    <table class="table">
      <tbody>
        <tr>
          <td>Utworzono:</td>
          <% t = @user.created_at.localtime %>
          <td><%= t.strftime("%d.%m.%Y") %></td>
        </tr>
        <tr>
          <td>E-mail:</td>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <td>Adres dostawy:</td>
          <td>
            <%= @user.try {|u| "#{u.name} #{u.last_name}"} %><br>
            <%= @user.try {|u| "#{u.street} #{u.home_number}"} %><br>
            <%= @user.try {|u| "#{u.zip_code} #{u.city}"} %>
          </td>
        </tr>
        <tr>
          <td>Telefon:</td>
          <td><%= @user.phone %></td>
        </tr>
      </tbody>
    </table>
    <%= link_to "Edytuj dane", edit_user_path(current_user), class: 'btn btn-warning' %>
    <%= link_to "Wstecz", :back, class: 'btn btn-submit' %>
  </div>
</div>
