<%= render 'home/carousel' %>
<div class="row-fluid">
  <ul class="thumbnails">
    <li class="span4">
      <div class="thumbnail"
           style="background-color: white;
                  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.35);
                  max-width: 400px;
                  margin: auto;">
        <div class="caption">
        <img class="img-rounded" src="<%= asset_path 'invite_pizza.jpg' %>">
        <h3 class="center">Zasmakuj!</h3>
        <p class="description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue,
          suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque
          aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus.
        </p>
        <p><%= link_to "Przejdź do menu", products_path, class: "btn btn-block btn-primary btn-large" %>
          </div>
      </div>
    </li>
    <li class="span4">
      <div class="thumbnail"
           style="background-color: white;
                  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.35);
                  max-width: 400px;
                  margin: auto;">
        <div class="caption">
        <img class="img-rounded" src="<%= asset_path 'invite_catering.jpg' %>">
        <h3 class="center">Zamów catering!</h3>
        <p class="description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue,
          suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque
          aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus.
        </p>
        <p><%= link_to "Skontaktuj się z nami", products_path, class: "btn btn-block btn-primary btn-large" %>
      </div>
        </div>
    </li>

    <li class="span4">
      <div class="thumbnail"
           style="background-color: white;
                  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.35);
                  max-width: 400px;
                  margin: auto;">
        <div class="caption">
        <img class="img-rounded" src="<%= asset_path 'invite_book.jpg' %>">
        <h3 class="center">Wynajmij salę!</h3>
        <p class="description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue,
          suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque
          aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus.
        </p>
        <p><%= link_to "Skontaktuj się z nami", products_path, class: "btn btn-block btn-primary btn-large" %>
      </div>
        </div>
    </li>
  </ul>
</div>
