  <div class="content-inner">
    <div class="center content-icons">
      <%=link_to image_tag("icon-menu-shdw.png", :border=>0), products_path%>
    </div>
  </div>
  <div class="bottom-register">
    <span>
      Jesteś już zarejestrowany? Dodatkowe promocje czekają na ciebie!
    </span>
    <a class="btn btn-success">Rejestracja</a>
  </div>

<!-- <div class="center row-features"> -->
<!--    <%= link_to 'Categories', categories_path, class: "btn btn-large btn-primary" %> -->
<!--   <%= link_to 'Products', products_path, class: "btn btn-large btn-primary" %> -->
<!--   <%= link_to 'Users', "#", class: "btn btn-large btn-primary" %> -->
<!--   <%= link_to 'Sign up', signup_path, class: "btn btn-large btn-primary" %> -->

</div>
