<div class="well">

  <fieldset>
    <legend style="margin:0;">
      Wybierz rodzaj dostawy
    </legend>
    <div class="control-group">
      <%= f.label :distance, "Dostępne opcje", class: 'control-label' %>
      <div class="controls">
        <%= f.select(:distance, Order.possible_distances(@cart.price), {}, {class: 'span6'}) %>
      </div>
    </div>
  </fieldset>

</div>
<div class="well">

  <fieldset>
    <legend>
      Podaj adres dostawy
    </legend>
    <div class="control-group hidden">
      <%= f.label :zip_code, "Kod pocztowy",  class: 'control-label' %>
      <div class="controls">
        <%= f.select(:zip_code, User::ZIP_CODES, {selected: @user.zip_code}, {class: ''}) %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :city, "Miejscowość",  class: 'control-label' %>
      <div class="controls">
        <%= f.select(:city, User::CITIES.sort, {selected: @user.city}, {class: 'span6'}) %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :street, "Ulica",  class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :street, value: @user.street, placeholder: 'Ulica', class: 'span6' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :home_number, "Numer domu / mieszk.",  class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :home_number, value: @user.home_number, placeholder: 'Nr', class: 'span6' %>
      </div>
    </div>
    <div class="control-group hidden">
      <%= f.label "geolocation", "Dokładna geolokacja",  class: 'control-label' %>
      <div class="controls">
        <%= f.text_field "geolocation", value: "", placeholder: 'dł. i szer. geograficzna', class: 'span6', disabled: "" %>
      </div>
    </div>
    <div class="control-group hidden">
      <%= f.label "computed_distance", "Odległość",  class: 'control-label' %>
      <div class="controls">
        <%= f.text_field "computed_distance", value: "", placeholder: '0,0 km', class: 'span6', disabled: "" %>
      </div>
    </div>
  </fieldset>

</div>

<!-- <div class="well"> -->
<!--   <a id="btn" class="btn btn-large btn-block btn-success" href="#map_container"> -->
<!--     Kliknij, aby wyszukać adres i obliczyć odległość. -->
<!--   </a> -->
<!-- </div> -->

<!-- <div id="map_container" class="well"> -->
<!--   <dl id="delivery_info" class="dl-horizontal well alert-info" style="margin:0"> -->
<!--     <dt>Szukany adres:</dt> -->
<!--     <dd id="address_info">?</dd> -->
<!--     <dt>Obliczona odległość:</dt> -->
<!--     <dd id="computed_distance">?</dd> -->
<!--   </dl> -->
<!--   <div id="map_canvas" style="height: 400px; width: 100%"></div> -->
<!--   <div class="well bg-warning" style="margin:0;"> -->
<!--     <legend style="margin:0">Mapa wskazuje błędny adres?</legend> -->
<!--     <strong>Nic nie szkodzi!</strong><br> -->
<!--     Wystarczy że przeciągniesz pomarańczowy marker nad -->
<!--     poprawne miejsce dostawy (twój dom, mieszkanie itp.). -->
<!--     <strong>Pamiętaj</strong> aby podany przez Ciebie adres -->
<!--     zgadzał się ze wskazaniem pomarańczowego markera - -->
<!--     dzięki temu nasz kierowca dojedzie na pewno na czas! -->
<!--   </div> -->
<!-- </div> -->

<div class="well">

  <fieldset>
    <legend style="margin:0">
      Podaj dane kontaktowe
    </legend>
    <div class="control-group">
      <%= f.label :name, "Imię",  class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, value: @user.name, placeholder: 'Imię', class: 'span6' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :last_name, "Nazwisko",  class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :last_name, value: @user.last_name, placeholder: 'Nazwisko', class: 'span6' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :phone, "Numer telefonu",  class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :phone, value: @user.phone, placeholder: 'Numer telefonu', class: 'span6' %>
      </div>
    </div>
  </fieldset>

</div>
<!-- <div class="well"> -->
<!--   <a href="#" class="btn btn-large btn-block btn-info">Kliknij, aby zapisać wprowadzone dane.</a> -->
<!-- </div> -->

<div class="well">

  <a href="<%= url_for new_cart_path %>" class="btn btn-submit">
    <i class="icon-chevron-left icon-white"></i> Popraw zawartość koszyka
  </a>
  <button type="submit" class="btn btn-primary pull-right">
    Wyświetl podsumowanie <i class="icon-chevron-right icon-white"></i>
  </button>

</div>
