<% pf = params[:filter] %>

<div class="subnav">
  <ul class="nav nav-pills">

    <li class="<%= pf == "all" ? "active" : "" %>">
      <a href="<%= pf == "all" ? "#" : url_for(orders_path(:filter => "all")) %>">
        <i class="icon-th-list"></i> Wszystkie
      </a>
    </li>
    <li class="<%= pf == "pending" ? "active" : "" %>">
      <a href="<%= pf == "pending" ? "#" : url_for(orders_path(:filter => "pending")) %>">
        <i class="icon-refresh"></i> Oczekujące
      </a>
    </li>
    <li class="<%= pf == "in_delivery" ? "active" : "" %>">
      <a href="<%= pf == "in_delivery" ? "#" : url_for(orders_path(:filter => "in_delivery")) %>">
        <i class="icon-gift"></i> W trakcie dostawy
      </a>
    </li>
    <li class="<%= pf == "finished" ? "active" : "" %>">
      <a href="<%= pf == "finished" ? "#" : url_for(orders_path(:filter => "finished")) %>">
        <i class="icon-ok"></i> Ukończone
      </a>
    </li>
    <li class="<%= pf == "cancelled" ? "active" : "" %>">
      <a href="<%= pf == "cancelled" ? "#" : url_for(orders_path(:filter => "cancelled")) %>">
        <i class="icon-trash"></i> Anulowane
      </a>
    </li>
  </ul>
</div>
