<!-- Subnav partial for orders controller -->

<!-- Subnav for order process info -->
<%
  if params[:action] == "new" or
      params[:action] =="confirmation" or
      params[:action] == "checkout"
    %>
  <div class="row">
    <div class="span9">
      <% if params[:action] == "confirmation" %>
        <ul class="breadcrumb bg-info">
          <li>
            <strong class="title">Step 3/3</strong>
            &raquo; Check & confirm your order
          </li>
          <li class="pull-right"><i class="icon-eye-open icon-white"></i></li>
        </ul>
      <% else %>
        <ul class="breadcrumb bg-info">
          <li>
            <strong class="title">Step 2/3</strong>
            &raquo; Enter required shipping info
          </li>
          <li class="pull-right"><i class="icon-edit icon-white"></i></li>
        </ul>
      <% end %>
    </div>
    <div class="span3 hidden-phone">
      <ul class="breadcrumb bg-info">
        <li><strong>Order Progress</strong></li>
        <li class="pull-right"><i class="icon-chevron-down icon-white"></i></li>
      </ul>
    </div>
  </div>

  <!-- Subnav for filtering orders by status -->
<% elsif params[:action] == "index" %>
  <% pf = params[:filter] %>
  <div class="subnav">
    <ul class="nav nav-pills">

      <li class="<%= pf == "all" ? "active" : "" %>">
        <a href="<%= pf == "all" ? "#" : url_for(orders_path(:filter => "all")) %>">
          <i class="icon-th-list"></i> Wszystkie
        </a>
      </li>
      <li class="<%= pf == "pending" ? "active" : "" %>">
        <a href="<%= pf == "pending" ? "#" : url_for(orders_path(:filter => "pending")) %>">
          <i class="icon-refresh"></i> Oczekujące
        </a>
      </li>
      <li class="<%= pf == "in_delivery" ? "active" : "" %>">
        <a href="<%= pf == "in_delivery" ? "#" : url_for(orders_path(:filter => "in_delivery")) %>">
          <i class="icon-gift"></i> W trakcie dostawy
        </a>
      </li>
      <li class="<%= pf == "finished" ? "active" : "" %>">
        <a href="<%= pf == "finished" ? "#" : url_for(orders_path(:filter => "finished")) %>">
          <i class="icon-ok"></i> Ukończone
        </a>
      </li>
      <li class="<%= pf == "cancelled" ? "active" : "" %>">
        <a href="<%= pf == "cancelled" ? "#" : url_for(orders_path(:filter => "cancelled")) %>">
          <i class="icon-trash"></i> Anulowane
        </a>
      </li>
    </ul>
  </div>

<% end %>
