<div class="row-fluid">
  <div class="span3 hidden-phone">
    <%= render "orders/progress_steps_help", :step => 3 %>
  </div>
  <div class="span9">
    <%= form_for(@order, :url => {:action => "create"}) do |f| %>
      <div class="well">
        <legend>
          Adres dostawy
        </legend>
        <address style="text-align:center">
          <strong><%= @order.name %>&nbsp;<%= @order.last_name %></strong><br>
          <%= @order.street %>&nbsp;<%= @order.home_number %><br>
          <%#= @order.zip_code %>00-000&nbsp;<%= @order.city %><br><br>
          <abbr title="Telefon">Tel:</abbr> <%= @order.phone %>
          <p>
            nie wiem gdzie to dać.
            total_price = <%= @order.total_price %>
            delivery_cost = <%= @order.delivery_cost %>
            products_price = <%= @order.products_price %>
          </p>
        </address>
      </div>
      <div class="well">
        <legend>
          Twoje zakupy:
        </legend>
        <%= render 'line_items/table_large' %>
      </div>
      <%= render 'orders/hidden_fields_for_order_confirmation', :f => f %>
      <div class="well">
        <%= f.submit "Potwierdź i utwórz zamówienie!", class: 'btn btn-success' %>
        <%= link_to "Wstecz", new_order_path, class: 'btn btn-submit' %>
      </div>
    <% end %>
  </div>
</div>

