<div class="row-fluid">
  <div class="span3 hidden-phone">
    <%= render "orders/steps", :step => 3 %>
  </div>
  <div class="span9">
    <%= form_for(@order, :url => {:action => "create"}) do |f| %>
      <% session[:cart].each do |variant_id| %>
        <%= Variant.find_by_id(variant_id).name %><br>
      <% end %>

      <dl class="dl-horizontal">
        <dt>Adres dostawy:</dt>
        <dd>
          <%= @order.try(:name) %>&nbsp;<%= @order.try(:last_name) %><br>
          <%= @order.try(:street) %>&nbsp;<%= @order.try(:home_number) %><br>
          <%= @order.try(:zip_code) %>&nbsp;<%= @order.try(:city) %>
        </dd>
        <dt>Telefon kontaktowy:</dt>
        <dd>
          <%= @order.try(:phone) %><br><br>
        </dd>
      </dl>
      <%= render 'orders/hidden_fields_for_order_confirmation', :f => f %>
      <div class="well">
        <%= f.submit "Potwierdź i utwórz", class: 'btn btn-success' %>
        <%= link_to "Wróć", new_order_path, class: 'btn btn-submit' %>
      </div>
  </div>
  <% end %>

