<% @orders.reverse_each do |order| %>
  <div class="row-fluid">
    <div class="span8">
      <span class="label label-info" style="position: absolute">
        <%= order.state.gsub('_', ' ') %>
      </span>
      <h3 style="margin: 0 0 70px 0;
                 padding-left: 92px;
                 line-height: 1;">
        Zamówienie nr <%= order.id %>
      </h3>
    </div>
    <% if user_is_admin_or_seller? %>
      <div class="span4">
        <% case order.state %>
        <% when 'pending' %>
        <%= link_to 'Zmień status na "W trakcie dostawy"', order_path(order, :operation => "accept"),
            :method => :put,
            :class => "btn btn-primary btn-block" %>
        <%= link_to 'Zmień status na "Anulowane"', order_path(order, :operation => "cancel"),
            :method => :put,
            :class => "btn btn-danger btn-block" %>
        <% when 'in_delivery' %>
        <%= link_to 'Zmień status na "Ukończone"', order_path(order, :operation => "finish"),
            :method => :put,
            :class => "btn btn-success btn-block" %>
        <%= link_to 'Zmień status na "Anulowane"', order_path(order, :operation => "cancel"),
            :method => :put,
            :class => "btn btn-danger btn-block" %>
        <% when 'finished' %>
        <%= link_to 'Zmień status na "Anulowane"', order_path(order, :operation => "cancel"),
            :method => :put,
            :class => "btn btn-danger btn-block" %>
        <% when 'cancelled' %>
        <%= link_to 'Przywróć zamówienie', order_path(order, :operation => "restore"),
            :method => :put,
            :class => "btn btn-warning btn-block" %>
    <% end %>
    </div>
<% end %>

</div>
<div class="row-fluid">
  <dl class="dl-horizontal">
    <dt>Utworzono:</dt>
    <dd>
      <% d = order.created_at.localtime %>
      <i class="icon icon-calendar"></i><%= d.strftime("%d.%m.%Y") %>
      <i class="icon icon-time"></i><%= d.strftime("%H:%M:%S") %>
    </dd>
    <br>
    <% if user_is_admin_or_seller? %>
      <dt>Użytkownik:</dt>
      <dd>
        <%= order.user.email %>
      </dd>
      <br>
    <% end %>
    <dt>Adres dostawy:</dt>
    <dd>
      <address>
        <%= order.name + " " + order.last_name %><br>
        <%= order.street + " " + order.home_number %><br>
        00-000 <%= order.city %>
      </address>
    </dd>
    <dt>Telefon:</dt>
    <dd>
      <%= order.phone %>
    </dd>
    <br>
    <dt>Produkty:</dt>
    <dd>

      <table class="table table-hover table-condensed">
        <tr>
          <th>Kategoria</th>
          <th style="text-align: center">Nr</th>
          <th>Nazwa</th>
          <th style="text-align: center">Opcja</th>
          <th style="text-align: center">Ilość</th>
          <th style="text-align: center">Cena</th>
        </tr>

        <% i = 1 %>
        <% order.categories.each do |category| %>
          <tr>
            <td colspan="6" style="background-color: rgba(255,255,255,0.2)">
              <%= category.titleize %>
            </td>
          </tr>

          <% order.uniq_and_sorted_variants.each do |variant| %>
            <% if variant.category.name == category %>
              <tr>
                <td></td>
                <td style="text-align: center"><%= i %></td>
                <td><%= variant.name %></td>
                <td style="text-align: center"><%= variant.size %></td>
                <td style="text-align: center"><%= order.variants.count(variant) %></td>
                <td style="text-align: center"><%= order.variant_total_price(variant) %> zł</td>
              </tr>
              <% i += 1 %>
            <% end %>
          <% end %>
        <% end %>
        <tr>
          <th colspan="5" style="text-align: right">Suma:</th>
          <th><%= order.products_price %></th>
        </tr>
      </table>
    </dd>
    </br>
    <dt>Koszt dostawy:</dt>
    <dd><%= order.delivery_cost %></dd>
    </br>
    <dt>Całkowity koszt:</dt>
    <dd><%#= order.formated_total_price %> zł</dd>
  </dl>
</div>
<hr>
<% end %>

