<% @orders.reverse_each do |order| %>
  <div class="row-fluid">
    <div class="span8">
      <span class="label label-info" style="position: absolute">
        <%= order.state.gsub('_', ' ') %>
      </span>
      <h3 style="margin: 0 0 70px 0;
                 padding-left: 92px;
                 line-height: 1;">
        Zamówienie nr <%= order.id %>
      </h3>
    </div>
    <% if user_is_admin_or_seller? %>
      <div class="span4">
        <% case order.state %>
        <% when 'pending' %>
        <%= link_to 'Zmień status na "W trakcie dostawy"', order_path(order, :operation => "accept"),
            :method => :put,
            :class => "btn btn-primary btn-block" %>
        <%= link_to 'Zmień status na "Anulowane"', order_path(order, :operation => "cancel"),
            :method => :put,
            :class => "btn btn-danger btn-block" %>
        <% when 'in_delivery' %>
        <%= link_to 'Zmień status na "Ukończone"', order_path(order, :operation => "finish"),
            :method => :put,
            :class => "btn btn-success btn-block" %>
        <%= link_to 'Zmień status na "Anulowane"', order_path(order, :operation => "cancel"),
            :method => :put,
            :class => "btn btn-danger btn-block" %>
        <% when 'finished' %>
        <%= link_to 'Zmień status na "Anulowane"', order_path(order, :operation => "cancel"),
            :method => :put,
            :class => "btn btn-danger btn-block" %>
        <% when 'cancelled' %>
        <%= link_to 'Przywróć zamówienie', order_path(order, :operation => "restore"),
            :method => :put,
            :class => "btn btn-warning btn-block" %>
    <% end %>
    </div>
<% end %>
</div>

<dl class="dl-horizontal">
  <dt>Utworzono:</dt>
  <dd>
    <% d = order.created_at.localtime %>
    <i class="icon icon-calendar"></i><%= d.strftime("%d.%m.%Y") %>
    <i class="icon icon-time"></i><%= d.strftime("%H:%M:%S") %>
  </dd>
  <br>
  <% if user_is_admin_or_seller? %>
    <dt>Użytkownik:</dt>
    <dd>
      <%= order.user.email %>
    </dd>
    <br>
  <% end %>
  <dt>Adres dostawy:</dt>
  <dd>
    <address>
      <%= order.name + " " + order.last_name %><br>
      <%= order.street + " " + order.home_number %><br>
      00-000 <%= order.city %>
    </address>
  </dd>
  <dt>Telefon:</dt>
  <dd>
    <%= order.phone %>
  </dd>
  <br>
  <dt>Produkty:</dt>
  <dd>

    <table class="table table-condensed">
      <thead>
        <tr class="hl-strong">
          <th>Kategoria</th>
          <th class="text-center">Nr</th>
          <th>Nazwa</th>
          <th>Opcja</th>
          <th class="text-center">Ilość</th>
          <th class="text-right">Cena</th>
        </tr>
      </thead>
      <tbody>
        <% i = 1 %>
        <% order.categories.each do |category| %>
          <tr>
            <th colspan="6" class="hl-light">
              <%= category.titleize %>:
            </th>
          </tr>

          <% order.uniq_and_sorted_variants.each do |variant| %>
            <% if variant.category.name == category %>
              <tr>
                <td></td>
                <td class="text-center"><%= i %></td>
                <td><%= variant.name %></td>
                <td><%= variant.size %></td>
                <td class="text-center"><%= order.variants.count(variant) %></td>
                <td class="text-right"><%= order.variant_total_price(variant) %> zł</td>
              </tr>
              <% i += 1 %>
            <% end %>
          <% end %>
        <% end %>

        <tr class="hl-light">
          <th colspan="5">Suma za produkty:</th>
          <th class="text-right"><%= order.products_price %></th>
        </tr>
        <tr class="hl-light">
          <th colspan="5">Dostawa:</th>
          <th class="text-right"><%= order.delivery %></th>
        </tr>
      </tbody>
      <!-- <thead> -->
      <!--   <tr class="hl-strong"> -->
      <!--     <th colspan="5">Suma całkowita:</th> -->
      <!--     <th class="text-right"><%#= order.total_price %></th> -->
      <!--   </tr> -->
      <!-- </thead> -->
    </table>
</dl>

<hr>
<% end %>

