<div style="background-color: transparent; margin-bottom: 50px">

  <!-- NAGŁÓWEK -->

  <blockquote style="position: relative; background-color: rgba(255,255,255,0.2)">
    <h3>
      Twoje zamówienie&nbsp
      <sup>
        <span class="label label-info">
          <% if there_is_something_in_cart? %>
            oczekuje na potwierdzenie
          <% else %>
            jest puste
          <% end %>
        </span>
      </sup>
    </h3>
  </blockquote>

  <%= form_for @order do |f| %>
    <dl class="dl-horizontal">

      <!-- UZUPEŁNIANIE DANYCH -->

      <%= render 'shared/error_messages'%>

      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :total_price, value: @cart.price %>
      <%= f.hidden_field :distance, value: @user.distance %>

      <% if session[:checkout] %>
        <%= render 'checkout', :f => f %> <!-- Czy przy obecnej formie potrzebne jest :f => f? -->
      <% else %>
        <%= render 'user_data_form', :f => f %>
      <% end %>

      <!-- TABELA PRODUKTÓW -->

      <% categories = [] %>
      <% @line_items.each { |item| categories << item.product.category.name }%>
      <% categories.uniq!  %>

      <dt>Wybrane produkty:</dt>
      <dd style="padding: 20px 180px 20px 10px">
        <% if there_is_something_in_cart? %>

          <table class="table table-hover table-condensed" style="margin: 0">

            <thead>
              <% unless session[:checkout] %>
                <tr>
                  <th colspan="6" style="text-align: right">
                    <a href="" class="btn btn-mini btn-danger">Usuń wszystko</a>
                  </th>
                </tr>
              <% end %>
              <tr>
                <th>Kategoria</th>
                <th style="text-align: center">Nr</th>
                <th>Nazwa</th>
                <th style="text-align: left">Opcja</th>
                <th style="text-align: center">Ilość</th>
                <th style="text-align: right">Cena</th>
              </tr>
            </thead>

            <tbody>
              <% categories.each do |category| %>
                <tr>
                  <td colspan="6" style="background-color: rgba(255,255,255,0.2)">
                    <%= category.titleize %>
                  </td>
                </tr>

                <% i = 1 %>
                <% @line_items.each do |item| %>
                  <% if item.product.category.name == category %>
                    <tr>
                      <td></td>
                      <td style="text-align: center"><%= i %></td>
                      <td><%= item.product.name %></td>
                      <td style="text-align: left"><%= item.variant.size %></td>
                      <td style="text-align: center"><%= item.quantity %></td>
                      <td style="text-align: right"><%= "%.2f" % item.total_price %> zł</td>
                    </tr>
                    <% i += 1 %>
                  <% end %>
                <% end %>
              <% end %>
              <tr>
                <th colspan="6" style="text-align: right">
                  Suma:&nbsp&nbsp<%= "%.2f" % @cart.price %> zł
                </th>
              </tr>
            </tbody>

          </table>

        <% end %>
        <p style="padding-top: 15px">
          <% unless session[:checkout] %>
            <%= link_to "Dodaj produkty", products_path, class: 'btn btn-large btn-block btn-submit' %>
          <% end %>
        </p>
      </dd>

    <!-- PODSUMOWANIE -->

      <dt>Koszt dostawy:</dt>
      <dd>(kosz dostawy)</dd>
    </br>
      <dt>Całkowity koszt:</dt>
      <dd>(całkowity koszt)</dd>
    </br>

    <!-- ZATWIERDZENIE -->

    <div class="form-actions" style="padding-left: 180px">
      <% if there_is_something_in_cart? %>
        <% if session[:checkout] %>
          <%= f.submit "Finish Order!", class: 'btn btn-success' %>
        <% else %>
          <%= f.submit "Next: Checkout", class: 'btn btn-success' %>
        <% end %>
          <%= link_to "Cancel order", session[:checkout] = nil, class: 'btn btn-danger' %>
      <% else %>
        <a class="btn btn-success disabled">Zatwierdź i wyślij</a>
        <a class="btn btn-danger disabled">Anuluj zamówienie</a>
      <% end %>
    </div>
    </dl>
  <% end %>

</div>
