<div class="row-fluid">
  <div class="span3">

  </div>
  <div class="span9">
    <%= form_for(@order, :url => { :action => "create" }, :html => {:class => "form-horizontal"}) do |f| %>
      <div class="well">
        <fieldset>
          <legend>
            Adres Dostawy
          </legend>
          <!-- ZIP CODE trzeba zautomatyzować: wybór zależy od wyboru miasta -->
          <div class="control-group hidden">
            <%= f.label :city, "Kod pocztowy",  class: 'control-label' %>
            <div class="controls">
              <%= f.select(:city, User::ZIP_CODES, {selected: @user.zip_code}, {class: ''}) %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :city, "Miejscowość",  class: 'control-label' %>
            <div class="controls">
              <%= f.select(:city, User::CITIES, {selected: @user.city}, {class: 'span6'}) %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :street, "Ulica i numer",  class: 'control-label' %>
            <div class="controls">
              <%= f.text_field :street, value: @user.street, placeholder: 'Ulica', class: 'span6' %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :home_number, "Numer domu",  class: 'control-label' %>
            <div class="controls">
              <%= f.text_field :home_number, value: @user.home_number, placeholder: 'Nr', class: 'span3' %>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <legend style="margin:0">
            Dane kontaktowe
          </legend>
          <div class="control-group">
            <%= f.label :name, "Imię",  class: 'control-label' %>
            <div class="controls">
              <%= f.text_field :name, value: @user.name, placeholder: 'Imię', class: 'span6' %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :last_name, "Nazwisko",  class: 'control-label' %>
            <div class="controls">
              <%= f.text_field :last_name, value: @user.last_name, placeholder: 'Nazwisko', class: 'span6' %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :phone, "Numer telefonu",  class: 'control-label' %>
            <div class="controls">
              <%= f.text_field :phone, value: @user.phone, placeholder: 'Numer telefonu', class: 'span4' %>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="well">
        <a href="<%= url_for new_cart_path %>" class="btn btn-submit">
          <i class="icon-shopping-cart icon-white"></i> Wróć do koszyka
        </a>
        <button type="submit" class="btn btn-primary">
          Przejdź dalej <i class="icon-ok icon-white"></i>
        </button>
      </div>

    <% end %>
  </div>
</div>
