<h3>Manage Products</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Category</th>
      <th>Products</th>
    </tr>
  </thead>
  <tbody>
    <% @categories.sort.each do |category| %>
      <tr>
        <td><%= category.id %></td>
        <td style="width:150px; text-align: left"><strong><%= category.name %></strong></td>
        <td>
          <% category.products.each do |product| %>
            <%= link_to product.name, product %>,&nbsp;
          <% end %>
        </td>
        <td>
          <%= link_to( "Add product", new_product_path(:category_id => category.id), :class => "btn btn-success" ) %>
        </td>
        <td colspan="3">
          <%= link_to( "Edit category", edit_category_path(category), :class => "btn btn-warning" ) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
