<div class="row">
  <div class="span6 offset3 well">
    <legend>Manage Products</legend>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Category</th>
          <th>Products</th>
        </tr>
      </thead>
      <tbody>
        <% @categories.sort.each do |category| %>
          <tr>
            <td><%= category.id %></td>
            <th>
              <%= link_to category.name, category %>
            </th>
            <td>
              <%= category.products.count %>
              <!-- <%# category.products.each do |product| %> -->
              <!--   <%#= link_to product.name, product %>,&nbsp; -->
              <!-- <%# end %> -->
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to "Cancel", root_url, :class => "btn btn-submit" %>
    <%= link_to "Add category", new_category_path, :class => "btn btn-success pull-right" %>
  </div>
</div>
