<div class="thead-inverted">
  <span class="left-icon"><i class="icon-th"></i></span>
  <span class="title">Categories</span>
</div>

<ul id="myTab" class="nav nav-pills nav-pills-grid hidden-phone">
  <% @categories.each do |category| %>
    <li class="<%= category == @parent ? "active" : "" %>">
        <a href="#<%= category.name.downcase.delete(' ') %>"
         data-toggle="tab">
          <i class="icon-th-list"></i> <%= category.name %>
        </a>
    </li>
  <% end %>
</ul>

<ul id="myTab" class="nav nav-pills nav-stacked nav-pills-stacked visible-phone">
  <% @categories.each do |category| %>
    <li class="<%= category == @parent ? "active" : "" %>">
        <a href="#<%= category.name.downcase.delete(' ') %>"
           data-toggle="tab">
          <i class="icon-th-list"></i> <%= category.name %>
        </a>
    </li>
  <% end %>
</ul>



