<div class="row" style="margin: 60px 0 30px 0">
<ul class="category-grid">
  <% i = 0 %>
  <% @categories.each do |category| %>
    <li>
      <img class="img-rounded" src="<%= asset_path "kebab.jpg" %>">
      <div class="caption">
        <h3>

          <%= category.name %>

        </h3>
        <p>
          Category description. Lorem ipsum dolor sit amet,
          consectetur adipisicing elit...
          <%= link_to "(read more)", category_path(category) %>
        </p>
        <%= link_to category_products_path(category) do %>
          <span class="products-count label label-info bottom-left-fixed">
            <b><%= category.products.count %> products</b>
          </span>
          <div class="btn btn-success bottom-right-fixed">
            View Products
          </div>
        <% end %>
      </div>
    </li>
    <%= link_to "New product", :controller => 'products', :action => 'new', :category_id => category.id %>
  <% end %>
</ul>
</div>
