<div class="row">
  <div class="span6 offset3 well">
    <h2>Show Category</h2>
    <hr>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Created</th>
          <th>Updated</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @category.id %></td>
          <td><%= @category.name %></td>
          <% created_at = @category.created_at.localtime %>
          <% updated_at = @category.updated_at.localtime %>
          <td><%= created_at.strftime("%d.%m.%Y") %></td>
          <td><%= updated_at.strftime("%d.%m.%Y") %></td>
        </tr>
      </tbody>
    </table>
    <hr>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Products</th>
        </tr>
      </thead>
      <tbody>
        <% i = 1 %>
        <% @category.products.each do |product| %>
          <tr>
            <td><%= i %></td>
            <th><%= link_to product.name, category_product_path(@category, product) %></th>
          </tr>
          <% i += 1 %>
        <% end %>
      </tbody>
    </table>
    <hr>
    <%= link_to "Back", categories_path, :class => "btn btn-submit" %>
    <%= link_to "Edit", edit_category_path(@category), :class => "btn btn-warning" %>
    <%= link_to( "Delete", category_path(@category), { :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' } ) %>
    <%= link_to "Add product", new_category_product_path(@category), :class => "btn btn-success pull-right" %>
  </div>
</div>
