<h3>Edit user: <%= @user.email %></h3>
<hr>

<%= form_for([:admin, @user], html: { class: 'form-horizontal' }) do |f| %>
  <div class="control-group">
    <%= f.label :role , class: 'control-label' %>
    <div class="controls">
      <%= f.select(:role, User::ROLES, selected: @user.role)%>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit "Update & Save", class: 'btn btn-primary' %>
    <%= link_to "Cancel", admin_users_path, class: 'btn btn-submit' %>
  </div>
<% end %>



