<%= form_for( [ @category, setup_for(@product) ], :html => { :class => "form-horizontal" } ) do |f| %>
  <%= render "shared/error_messages", :object => @product %>
      <div class="control-group">
        <%= f.label :category_id, :class => 'control-label' %>
        <div class="controls">
          <input disabled class="input-text span12" type="text" value="<%= @category.name %>">
        </div>
      </div>

      <div class="control-group">
        <%= f.label :name, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :name, :class => 'input-text span12' %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :fixed_number, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :fixed_number, :value => @category.generate_fixed_number, :class => 'input-text span12' %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :description, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_area :description, :rows => 5, :class => "span12" %>
        </div>
      </div>

      <%= f.fields_for :variants do |ff| %>

        <div class="control-group">
          <%= ff.label :size, "Size & price", :class => 'control-label' %>
          <div class="controls controls-row">
            <%= ff.text_field :size, :placeholder => :size, :class => 'input-text span6' %>
            <%= ff.text_field :price, :placeholder => :price, :class => 'input-text span6' %>
          </div>
        </div>

        <% if ff.object.persisted? %>
          <div class="control-group">
            <div class="controls">
              <%= ff.label( :_destroy, 'Destroy', :class => 'checkbox' ) do %>
                <%= ff.check_box :_destroy %> Destroy
              <% end %>
            </div>
          </div>
        <% end %>

      <% end %>

      <hr>
      <%= link_to "Cancel", :back, :class => 'btn' %>
      <%= f.submit "Apply & Save", :class => 'btn btn-primary pull-right' %>

<% end %>
