<ul class="thumbnails">
  <% @products.each do |product| %>
    <li class="span3a">
      <div class="thumbnail">
        <img class="img-rounded"
             alt="<%= product.name %>"
             src="<%= asset_path "kebab.jpg" %>">
        <div class="img-overlay">
        </div>
        <div class="caption">
          <span class="category">
            <%= product.category.name %>
          </span>
          <span class="title">
            <%= link_to product.name, product_path(product) %>
          </span>
          <span class="price"> <%= '%.2f' % product.price %>zł</span>
          <a href="<%= url_for :controller => "line_items",
                               :action => "update",
                               :id => product,
                               :operation => "add",
                               :menu => true,
                               :method => "get" %>"
          class="btn" rel="Dodaj">
            <i class="icon-shopping-cart"></i> Dodaj
          </a>
        </div>
      </div>
    </li>
  <% end %>
</ul>
