<div class="tab-content">
  <% @categories.each do |category| %>
    <div class="tab-pane well <%= params[:id] == category.name.downcase.delete(' ') ? "active" : "" %>"
         style="position: relative"
         id="<%= category.name.downcase.delete(' ') %>">
      <img class="pull-right"
           style="height:40px; position: absolute; top: 21px; right: 18px"
           src='<%= asset_path "icon-menu-shdw.png" %>'>
      <h3 style="margin-top:10px">
        <%= category.name %>
      </h3>
      <table class="table table-striped table-products">
        <!-- <thead> <\!-- Table header -\-> -->
        <!--   <tr> -->
        <!--     <th class="id"> -->
        <!--       Id -->
        <!--     </th> -->
        <!--     <th class="name"> -->
        <!--       <%= category.name.capitalize %> -->
        <!--     </th> -->
        <!--     <th colspan="3" class="price"> -->
        <!--       Cena -->
        <!--     </th> -->
        <!--   </tr> -->
        <!-- </thead> -->
        <tbody> <!-- Table body -->
          <% category.products.each do |product| %>
            <tr>
              <td class="id">
                <%= product.fixed_number %>
              </td>
              <td class="name">
                <span style="color:#007fff"><%= product.name %></span><br>
                <small class=""><%= product.description %></small>
              </td>
              <%= render "products/link_to_variant", :variants => product.variants %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
