<div class="tab-content">
  <% @categories.each do |category| %>
    <div class="tab-pane well <%= params[:id] == category.anchor_name ? "active" : "" %>"
         style="position: relative"
         id="<%= category.anchor_name %>">
      <img class="pull-right"
           style="height:40px; position: absolute; top: 21px; right: 18px"
           src='<%= asset_path "icon-menu-shdw.png" %>'>
      <h3 style="margin-top:10px">
       <%= category.name %>
      </h3>
      <table class="table table-striped table-products">
        <tbody>
          <% category.products.each do |product| %>
            <tr>
              <td class="id">
                <%= product.fixed_number %>
              </td>
              <td class="name">
                <span style="color:#007fff"><%= product.name %></span><br>
                <small class=""><%= product.description %></small>
              </td>
              <%= render "products/link_to_variant", :variants => product.variants %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
