<br />
<div class="tab-content">
  <% @categories.each do |category| %>
    <div class="tab-pane <%= category.id == 1 ? "active" : "" %>"
         id="<%= category.name.downcase.delete(' ') %>">
      <div class="category-img-wide">
        <h2 class="title">
          <%= category.name.capitalize %>
        </h2>
      </div>
      <div class="thead-inverted" style="border-radius: 0">
        <span class="left-icon"><i class="icon-th-list"></i></span>
        <span class="title">Products</span>
        <span class="right-icon center" style="width:65px">opt-3</span>
        <span class="right-icon center" style="width:65px">opt-2</span>
        <span class="right-icon center" style="width:65px">opt-1</span>
      </div>
      <table class="table table-products-bw">
        <tbody style="text-align: left">
          <% i = 1 %>
          <% category.products.each do |product| %>
            <tr>
              <td class="td-id"><%= i %></td>
              <td class="td-product">
                <h4><%= product.name %></h4>
                <p><%= product.description %></p>
              </td>
              <% display_in_order(product.variants, Product::SIZES).each do |variant| %>
                <td class="td-price">
                  <a class=""
                     <% if variant %>
                     href="<%= url_for :controller => 'line_items',
                           :action => 'update',
                           :id => variant.id,
                           :operation => 'add',
                           :menu => true,
                           :method => 'get' %>">
                      <%= '%.2f' % variant.price %>
                    <% end %>
                  </a>
                </td>
              <% end %>
            </tr>
            <% i += 1 %>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
