<div class="tab-content">
  <% @categories.each do |category| %>
    <div class="tab-pane <%= category == @parent ? "active" : "" %>"
         id="<%= category.name.downcase.delete(' ') %>">
      <div class="category-img-wide">
        <h2 class="title">
          <%= category.name.capitalize%>
        </h2>
      </div>
      <div class="thead-inverted" style="border-radius: 0">
        <span class="left-icon"><i class="icon-th-list"></i></span>
        <span class="title">Products</span>
        <span class="right-icon center" style="width:65px">opt-3</span>
        <span class="right-icon center" style="width:65px">opt-2</span>
        <span class="right-icon center" style="width:65px">opt-1</span>
      </div>
      <table class="table table-products-bw">
        <tbody style="text-align: left">
          <% i = 1 %>
          <% category.products.each do |product| %>
            <tr>
              <td class="td-id"><%= i %></td>
              <td class="td-product">
                <h4><%= product.name %></h4>
                <p><%= product.description %></p>
              </td>
              <td class="td-price">
                <a class="hidden"></a>
              </td>
              <td class="td-price">
                <a class="hidden"></a>
              </td>
              <td class="td-price">
                <a class=""
                   href="<%= url_for :controller => "line_items", :action => "update", :id => product, :operation => "add", :menu => true, :method => "get" %>">
                  <%= '%.2f' % product.price %> <sup>zł</sup>
                </a>
              </td>
            </tr>
            <% i += 1 %>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
