<% @categories.each do |category| %>
  <section id="<%= category.name.downcase.delete(' ') %>"
           style="padding-top: 60px">
    <table class="table table-hover table-bordered table-products">
      <thead>
        <tr class="header">
          <th class="th-id"><i class="icon-th-list"></i></th>
          <th class="th-title"><%= category.name %></th>
          <th class="th-options">small</th>
          <th class="th-options">medium</th>
          <th class="th-options">large</th>
        </tr>
      </thead>
      <tbody style="text-align: left">
        <% category.products.each do |product| %>
          <tr>
            <td class="td-id"><%= product.id %></td>
            <td class="td-name">
              <h4><%= product.name %></h4>
              <p><%= product.description %></p>
            </td>
            <td class="td-price"><%= '%.2f' % product.price %>zł</td>
            <td class="td-price"><%= '%.2f' % product.price %>zł</td>
            <td class="td-price"><%= '%.2f' % product.price %>zł</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>
<% end %>


<!-- <% @categories.each do |category|%> -->
<!--   <section id="<%= category.name.downcase.delete(' ') %>" -->
<!--            style="padding-top: 55px"> -->
<!--     <h2 style="line-height: 30px; -->
<!--                margin: 0"> -->
<!--       <%= category.name %> -->
<!--     </h2> -->
<!--     <hr> -->
<!--     <% category.products.each do |product| %> -->
<!--       <div class="row" -->
<!--            style="margin-bottom: 19px; -->
<!--                   position:relative"> -->
<!--         <div class="span4" -->
<!--              style=""> -->
<!--           <h4 style="margin: 2px 0"> -->
<!--             <%= link_to product.name, product_path(product) %> -->
<!--           </h4> -->
<!--           <p class=""><%= product.description %></p> -->
<!--         </div> -->
<!--         <span class="span1"> -->
<!--           <a rel="tooltip" -->
<!--              data-original-title="Add SMALL to Cart" -->
<!--              href="<%= url_for :controller => "line_items", :action => "update", :id => product, :operation => "add", :menu => true, :method => "get" %>"> -->
<!--             <%= '%.2f' % product.price %>zł -->
<!--           </a> -->
<!--         </span> -->
<!--         <span class="span1"> -->
<!--           <a rel="tooltip" -->
<!--              data-original-title="Add MEDIUM to Cart" -->
<!--              href="<%= url_for :controller => "line_items", :action => "update", :id => product, :operation => "add", :menu => true, :method => "get" %>"> -->
<!--             <%= '%.2f' % product.price %>zł -->
<!--           </a> -->
<!--         </span> -->
<!--         <span class="span1"> -->
<!--           <a rel="tooltip" -->
<!--              data-original-title="Add LARGE to Cart" -->
<!--              href="<%= url_for :controller => "line_items", :action => "update", :id => product, :operation => "add", :menu => true, :method => "get" %>"> -->
<!--             <%= '%.2f' % product.price %>zł -->
<!--           </a> -->
<!--         </span> -->
<!--       </div> -->
<!--     <% end %> -->
<!--   </section> -->
<!-- <hr style="margin-bottom: -37px"> -->
<!-- <% end %> -->
