<div class="well well-large well-category-header">
  <h2 class="title">
    Category IMG
  </h2>
</div>
<div class="tab-content"
     style="border: 1px solid #eee; border-top: 0">
  <% @categories.each do |category| %>
    <div class="tab-pane <%= category == @parent ? "active" : "" %>"
         id="<%= category.name.downcase.delete(' ') %>">
      <table class="table table-products-bw">
        <thead>
          <tr class="header">
            <th class="th-id"><i class="icon-th-list"></i></th>
            <th class="th-category">nazwa & składniki</th>
            <th class="th-options">opt_1</th>
            <th class="th-options">opt_2</th>
            <th class="th-options">opt_3</th>
          </tr>
        </thead>
        <tbody style="text-align: left">
          <% i = 1 %>
          <% category.products.each do |product| %>
            <tr>
              <td class="td-id"><%= i %></td>
              <td class="td-product">
                <h4><%= product.name %></h4>
                <p><%= product.description %></p>
              </td>
              <td class="td-price">
                <a class="hidden"></a>
              </td>
              <td class="td-price">
                <a class="hidden"></a>
              </td>
              <td class="td-price">
                <a class=""
                   href="<%= url_for :controller => "line_items", :action => "update", :id => product, :operation => "add", :menu => true, :method => "get" %>">
                  <%= '%.2f' % product.price %> <sup>zł</sup>
                </a>
              </td>
            </tr>
            <% i += 1 %>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
