<div id="talltabs-maroon">
  <ul>
    <% @categories.each do |category| %>
      <li class="<%=category == @parent ? "active" : ""%>">
        <%=link_to category.name.upcase, category_products_path(category)%>
      </li>
    <% end %>
  </ul>
</div>

<ul class="thumbnails">
<% @products.each do |product| %>
  <li class="span2">
    <div class="thumbnail">
      <img alt="" src="<%=asset_path "pizza.jpg"%>">
      <div class="center caption">
        <h5><%= product.name.upcase%></h5>
        <p><%= product.description %></p>
        <p><a class="btn btn-primary">ZAMÓW</a></p>
      </div>
    </div>
  </li>
<% end %>
</ul>
