<%= render 'categories/tabs' %>

<ul class="thumbnails">
<% @products.each do |product| %>
  <li class="span3">
    <div class="thumbnail">
      <a href="<%= product_path(product) %>">
        <div class="image">
          <img alt="<%= product.name %>" src="<%= asset_path "pizza.jpg" %>" />
        <div id="product-name">
          <%= product.name %>
        </div>
      </a>
      </div>
        <!-- <div class="caption"> -->
        <!-- <p id="description"><%= product.description %></p> -->
        <!-- <p id="button_buy"><a class="btn btn-primary">ZAMÓW TERAZ</a></p> -->
        <!-- </div> -->
        <!-- <button class="btn btn-success">Zamów</button> -->
        <%= button_to "Dodaj", :controller => "line_items", :action => "update", :id => product, :operation => "add", :menu => true, :class => "btn btn-success", :method => "get" %>
    </div>
  </li>
<% end %>
  <li class="span3">
    <div class="thumbnail">
      <a href="<%= new_product_path %>">
          <img style="border-radius:4px" alt="New product" src="<%=asset_path "icon_add.png" %>" />
      </a>
  </li>
</ul>
