<%= render 'categories/tabs' %>

<ul class="thumbnails">
<% @products.each do |product| %>
  <li class="span3">
    <div class="thumbnail">
      <a href="<%= product_path(product) %>">
        <div class="image">
          <img alt="<%= product.name %>" src="<%=asset_path "pizza.jpg"%>" />
        <div id="product-name">
          <%= product.name%>
        </div>
      </a>
      </div>
        <!-- <div class="caption"> -->
        <!-- <p id="description"><%= product.description %></p> -->
        <!-- <p id="button_buy"><a class="btn btn-primary">ZAMÓW TERAZ</a></p> -->
        <!-- </div> -->
        <button class="btn btn-success">Zamów</button>
    </div>
  </li>
<% end %>
  <li class="span3">
    <div class="thumbnail">
      <a href="<%= new_product_path %>">
        <!-- <div class="image"> -->
          <img border-radius=4px alt="New product" src="<%=asset_path "icon_add.png" %>" />
        <!-- </div> -->
      </a>
  </li>
</ul>
