<div class="row">
  <div class="span6 offset3 well">
    <legend>
      "<%= @product.name %>"
      <small class="pull-right">[in <%= @product.category.name %> ]</small>
    </legend>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Created at</th>
          <th>Last updated</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @product.id %></td>
          <% created_at = @product.created_at.localtime %>
          <% updated_at = @product.updated_at.localtime %>
          <td><%= created_at.strftime("%d.%m.%Y") %></td>
          <td><%= updated_at.strftime("%d.%m.%Y") %></td>
        </tr>
      </tbody>
    </table>
    <legend>Description</legend>
    <table class="table table-striped">
      <tbody>
        <tr>
          <td>
            <% if @product.description == "" %>
              (no description)
            <% else %>
              <%= @product.description %>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
    <legend>Variants</legend>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Size</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% i = 1 %>
        <% @product.variants.each do |variant| %>
          <tr>
            <td><%= i %></td>
            <td><%= variant.size %></td>
            <td><%= variant.price %></td>
          </tr>
          <% i += 1 %>
        <% end %>
      </tbody>
    </table>
    <%= link_to "Back", category_path(@product.category), :class => "btn btn-submit" %>
    <%= link_to "Edit", edit_category_product_path(@category, @product), :class => "btn btn-warning" %>
    <%= link_to( "Delete", product_path(@product), { :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' } ) %>
    debug 1: <%= session[:product_params_test] %>
    debyg 2: <%= params %>
  </div>

</div>
