<!-- Cart by the products list view -->

<div class="thead-inverted">
  <span class="left-icon"><i class="icon-shopping-cart"></i></span>
  <span class="title" style="padding-left: 8px">Cart</span>
  <span class="right-icon clickable">
    <%= link_to cart_path, :method => "delete" do %>
    <i class="icon-trash"></i>
<% end %>
</span>
</div>
<div class="">
  <ul class="cart-aside-items unstyled"
      style="padding-top: 10px">
    <% if there_is_something_in_cart? %>
      <% c = [] %>
      <% @line_items.each do |item| %>
        <% c << item.product.category.name %>
      <% end %>
      <% c.uniq!  %>
      <!-- LISTA ZAKUPÓW -->

      <% c.each do |cat_name| %>
        <li class="category"
            style="padding: 2px 0 2px 8px;
                   border-bottom: 1px solid #ccc;
                   background: rgba(0,0,0,0.08);
                   border-radius: 4px">
          <small><%= cat_name %></small>
        </li>
        <% @line_items.each do |item| %>
          <% if item.product.category.name == cat_name %>
            <li style="padding: 13px 0 0 0;
                       float: left;
                       width: 23px">
              <%= item.quantity %>
              <span style="">x</span>
            </li>
            <li style="padding: 13px 0 0 0;
                       float: left;
                       width: 220px;">
              <%= item.product.name %>
            </li>
            <li style="padding: 8px 0;
                       float: right">
              <button class="btn btn-link"
                      style="padding: 0 3px">
                <i class="icon-plus"
                   style="vertical-align: baseline">
                </i>
              </button>
              <button class="btn btn-link"
                      style="padding: 0 3px">
                <i class="icon-minus"
                   style="vertical-align: baseline">
                </i>
              </button>
              <button class="btn btn-link"
                      style="padding: 0 3px">
                <i class="icon-remove"
                   style="vertical-align: baseline">
                </i>
              </button>
            </li>
            <li style="clear: both; margin-bottom: 8px">
              <span style="margin-left: 23px">
                <sup class="muted"><%= item.variant.size %></sup>
              </span>
              <span style="float: right;">
                <%= "%.2f" % item.total_price%><sup> zł</sup>
              </span>

            </li>
          <% end %>
        <% end %>
      <% end  %>
      <li style="text-align: right;
                 padding: 10px 0 20px 0;
                 border-radius: 0 0 4px 4px;
                 border-top: 1px solid #ccc">
        <strong>Total price: <%= "%.2f" % @cart.price %><sup> zł </sup></strong>
      </li>
    <% else %>
      <li class="center"
          style="padding: 8px 0 15px 0;">
        Cart is empty!
      </li>
    <% end %>
  </ul>
</div>
<% if there_is_something_in_cart?%>
  <%= link_to "Continue", new_cart_path, class: 'btn btn-block btn-success btn-large' %>
<% else %>
  <button class="btn btn-block btn-success btn-large disabled">Continue</button>
<% end %>
