<!-- Cart by the products list view -->

<div class="subnav hidden-desktop">
  <ul class="nav nav-pills">
    <li style="width: 100%"><a href="<%= url_for new_cart_path %>"><i class="icon-shopping-cart"></i>&nbsp;Koszyk</li></a>
  </ul>
</div>
  <ul class="unstyled">
    <!-- <li class="hidden-desktop"> -->
    <!--     <a href="<%= url_for new_cart_path %>" -->
    <!--        class="btn btn-submit"> -->
    <!--       <i class="icon-shopping-cart"></i>&nbsp;Koszyk -->
    <!--     </a> -->
    <!--     <a href="#" -->
    <!--        class="btn btn-submit pull-right"> -->
    <!--       <i class="icon-trash"></i> -->
    <!--     </a> -->
    <!-- </li> -->
    <% if there_is_something_in_cart? %>
      <% c = [] %>
      <% @line_items.each do |item| %>
        <% c << item.product.category.name %>
      <% end %>
      <% c.uniq!  %>

      <!-- LISTA ZAKUPÓW -->
      <% c.each do |cat_name| %>
        <li class="btn btn-inverse btn-block btn-small disabled"
            style="float: left; margin: 10px 0 5px 0">
          <%= cat_name %>
        </li>
        <% @line_items.each do |item| %>
          <% if item.product.category.name == cat_name %>
            <li style="padding: 12px 0 0 0;
                       float: left;
                       width: 6%">
              <%= item.quantity %>
            </li>
            <li style="padding: 12px 0 0 0;
                       float: left;
                       width: 89%;">
              <%= item.product.name %>
            </li>
            <li style="padding: 12px 0 0 0;
                       float: left;
                       width: 5%;">
              <button class="btn btn-link" style="padding:0">
                <i class="icon-remove"
                   style="right:0"> <!-- ADD TOOLTIP -->
                </i>
              </button>
            </li>
            <li style="clear: both">
              <span style="margin-left: 6%">
                <sup class="muted"><%= item.variant.size %></sup>
              </span>
              <span style="float: right;">
                <sup class="muted"><%= "%.2f" % item.total_price%>zł</sup>
              </span>

            </li>
          <% end %>
        <% end %>
      <% end  %>
      <li style="width: 50%;
                 float: left;
                 margin-top: 12px;
                 padding-top: 20px;
                 border-top: 2px solid #333">
        Koszt dostawy
      </li>
      <li style="width: 50%;
                 float: left;
                 text-align: right;
                 margin-top: 12px;
                 padding-top: 20px;
                 border-top: 2px solid #333">
        0,00<sup> zł</sup>
      </li>
      <li style="width: 50%;
                 float: left;
                 padding: 20px 0 20px 0;">
        Do zapłaty
      </li>
      <li style="width: 50%;
                 float: left;
                 text-align: right;
                 padding: 20px 0 20px 0;">
        <%= "%.2f" % @cart.price %><sup> zł</sup>
      </li>
    <% else %>
      <li class="center"
          style="padding: 15px 0 15px 0; text-align: center">
        <small class="muted">Aby kontynuować, dodaj produkty do koszyka.</small>
      </li>
    <% end %>
  </ul>
</div>
<div class="clearfix">
  <% if there_is_something_in_cart? %>
    <%= link_to "Kontynuuj", new_cart_path, class: 'btn btn-inverse pull-right' %>
  <% else %>
    <button class="btn btn-inverse disabled pull-right">Kontynuuj</button>
  <% end %>
  <!-- <button class="btn btn-block btn-inverse btn-large disabled">Koszyk jest pusty!</button> -->
