<!-- Cart by the products list view -->

<div class="thead-inverted">
    <span class="left-icon"><i class="icon-shopping-cart"></i></span>
    <span class="title" style="padding-left: 8px">Cart</span>
    <span class="right-icon clickable">
      <%= link_to cart_path, :method => "delete" do %>
      <i class="icon-trash"></i>
      <% end %>
    </span>
</div>
<div class=""
     style="padding: 0 15px;background-color: whiteSmoke; border-radius: 0 0 4px 4px">

  <ul class="unstyled">
    <% if there_is_something_in_cart? %>
      <% c = [] %>
      <% @line_items.each do |item| %>
        <% c << item.product.category.name %>
      <% end %>
      <% c.uniq!  %>
      <% c.each do |cat_name| %>
        <li><small><%= cat_name %></small></li>
        <% @line_items.each do |item| %>
          <% if item.product.category.name == cat_name %>
            <!-- <li class="pull-right"> -->
            <!--   <%= link_to :controller => "line_items", :action => "update", :id => item.product.id, :operation => "subtract" do %> -->
            <!--     <i id="minus" class="icon-minus-sign"></i> -->
            <!--   <% end %> -->
            <!--   <%= link_to :controller => "line_items", :action => "update", :id => item.product.id, :operation => "add" do %> -->
            <!--     <i id="plus" class="icon-plus-sign"></i> -->
            <!--   <% end %> -->
            <!-- </li> -->
            <li style="height: 30px; clear: both">
              <%= item.quantity %> x <%= item.product.name %>
              <span class="pull-right"><%= "%.2f" % item.total_price%><sup> zł</sup></span>
            </li>
          <% end %>
        <% end %>
      <% end  %>
      <li style="text-align: right; padding: 20px 0 15px 0; border-radius: 0 0 4px 4px">
        <strong>Total price: <%= "%.2f" % @cart.price %><sup> zł </sup></strong>
      </li>
    <% else %>
      <li>Cart is empty.</li>
    <% end %>
  </ul>
</div>
