
<!-- Cart by the products list view -->
<div class="row-fluid">
<div class="span6 offset3">
  <div class="thead-inverted">
    <span class="left-icon"><i class="icon-shopping-cart"></i></span>
    <span class="title" style="padding-left: 8px">Cart</span>
    <span class="right-icon clickable">
      <%= link_to cart_path, :method => "delete" do %>
      <i class="icon-trash"></i>
<% end %>
</span>
</div>
<div class=""
     style="padding: 0 15px;
            background-color: white;
            border-radius: 0 0 4px 4px;
            box-shadow: -1px 2px 5px rgba(0, 0, 0, 0.2);">
  <ul class="cart-aside-items unstyled"
      style="padding-top: 10px">
    <% if there_is_something_in_cart? %>
      <% c = [] %>
      <% @line_items.each do |item| %>
        <% c << item.product.category.name %>
      <% end %>
      <% c.uniq!  %>
      <!-- LISTA ZAKUPÓW -->

      <% c.each do |cat_name| %>
        <li class="category"
            style="padding: 2px 0 2px 8px;
                   border-bottom: 1px solid #ccc;
                   background: rgba(0,0,0,0.08);
                   border-radius: 4px">
          <small><%= cat_name %></small>
        </li>
        <% @line_items.each do |item| %>
          <% if item.product.category.name == cat_name %>
            <li style="padding: 13px 0 0 0;
                       float: left;
                       width: 23px">
              <%= item.quantity %>
              <span style="">x</span>
            </li>
            <li style="padding: 13px 0 0 0;
                       float: left;
                       width: 220px;">
              <%= item.product.name %>
            </li>
            <li style="padding: 8px 0;
                       float: right">
              <button class="btn btn-mini btn-success"
                      style="padding: 0 3px">
                <i class="icon-plus"
                   style="vertical-align: baseline">
                </i>
              </button>
              <button class="btn btn-mini btn-warning"
                      style="padding: 0 3px">
                <i class="icon-minus"
                   style="vertical-align: baseline">
                </i>
              </button>
              <button class="btn btn-mini btn-danger"
                      style="padding: 0 3px">
                <i class="icon-remove"
                   style="vertical-align: baseline">
                </i>
              </button>
            </li>
            <li style="clear: both; margin-bottom: 8px">
              <span style="margin-left: 23px">
                <sup class="muted"><%= item.variant.size %></sup>
              </span>
              <span style="float: right;">
                <%= "%.2f" % item.total_price%><sup> zł</sup>
              </span>

            </li>
          <% end %>
        <% end %>
      <% end  %>
      <li style="text-align: right;
                 padding: 10px 0 20px 0;
                 border-radius: 0 0 4px 4px;
                 border-top: 1px solid #ccc">
        <strong>Total price: <%= "%.2f" % @cart.price %><sup> zł </sup></strong>
      </li>
    <% else %>
      <li class="center"
          style="padding: 8px 0 15px 0;">
        <h1>Cart is empty!</h1>
      </li>
    <% end %>
  </ul>
</div>
<% if there_is_something_in_cart?%>
  <%= link_to "Next: Shipping Info", new_order_path, class: 'btn btn-block btn-success btn-large' %>
<% else %>

<% end %>
</div>
</div>

<div id="signInModal"
     class="modal hide fade in sign-in-modal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="SignIn"
     aria-hidden="false"
     style="display: none">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Sign in</h3>
  </div>
  <div class="modal-body">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>
      <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal">Close</button>
    <%= f.submit "Sign in", class: "btn btn-primary" %>
  <% end %>
  </div>
</div>
