
<!-- Cart by the products list view -->

<% if there_is_something_in_cart? %>
  <table class="table table-striped table-products">
    <thead>
      <tr>
        <th class="id">
          Nr
        </th>
        <th class="name">
          Produkt
        </th>
        <th class="price-variant">
          Rozmiar
        </th>
        <th class="price-variant">
          Ilość
        </th>
        <th class="price-variant">
          Cena
        </th>
        <th class="price-variant">
          Usuń?
        </th>
      </tr>
    </thead>
    <tbody>
      <% nr = 1 %>
      <% @line_items.each do |item| %>
        <tr>
          <td class="id">
            <%= nr %>
            <% nr += 1 %>
          </td>
          <td class="name">
            <%= item.product.name %><br>
            <small class="muted"><%= item.product.description %></small>
          </td>
          <td class="price-variant">
            <%= item.variant.size %>
          </td>
          <td class="price-variant">
            <b><</b> <%= item.quantity %> <b>></b>
          </td>
          <td class="price-variant">
            <%= "%.2f" % item.total_price %>
          </td>
          <td class="price-variant">
            <button class="btn btn-link">
              <i class="icon-remove"></i>
            </button>
          </td>
        </tr>
      <% end %>
      <tr style="height: 50px; border-top: 2px solid #333">
        <td class="id-icon">
          <i class="icon-info-sign"></i>
        </td>
        <th class="middle">
          Kosz dostawy
        </th>
        <td class="price-variant">-</td>
        <td class="price-variant">-</td>
        <th class="price-variant">
          0,00
        </th>
        <td class="price-variant">-</td>
      </tr>
      <tr style="height: 50px">
        <td class="id-icon">
          <i class="icon-info-sign"></i>
        </td>
        <th class="middle">
          Kosz całkowity
        </th>
        <td class="price-variant">-</td>
        <td class="price-variant">-</td>
        <th class="price-variant">
          <%= "%.2f" % @cart.price %>
        </th>
        <td class="price-variant">-</td>
      </tr>
    </tbody>
  </table>
<% else %>
  <h1 class="muted">
    Nie powinno dać się wejść do koszyka dopóki nie ma w nim produktów.<br><br>
    Jutro bydzie zrobione.
  </h1>
<% end %>
<!-- button musi byc -->
<%= link_to(cart_path, :method => "delete") do %>
  <i class="icon-trash"></i>
<% end %>


<div id="signInModal"
     class="modal hide fade in sign-in-modal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="SignIn"
     aria-hidden="false"
     style="display: none">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Sign in</h3>
  </div>
  <div class="modal-body">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>
      <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal">Close</button>
    <%= f.submit "Sign in", class: "btn btn-primary" %>
  <% end %>
  </div>
</div>
