<!-- cart content -->
<div class="content">
  <div class="well" style="margin: auto; width: 450px;">
    <% if there_is_something_in_cart? %>
      <h2 class="center" style="text-transform: uppercase">Your cart</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th style="text-align:left">Product</th>
            <th>Quantity</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <% i = 1 %>
          <% @line_items.each do |line_item| %>
            <tr>
              <td>
                <%= i %>
              </td>
              <td style="text-align:left">
                <%= line_item.product.name %>&nbsp
                <%= link_to :controller => "line_items", :action => "destroy", :id => line_item.product.id do %>
                  <i id="remove" class="icon-remove-sign"></i>
                <% end %>
              </td>
              <td>
                <%= link_to :controller => "line_items", :action => "update", :id => line_item.product.id, :operation => "subtract" do %>
                <i id="minus" class="icon-minus-sign"></i>
          <% end %>
          <%= line_item.quantity %>
          <%= link_to :controller => "line_items", :action => "update", :id => line_item.product.id, :operation => "add" do %>
          <i id="plus" class="icon-plus-sign"></i>
    <% end %>
</td>
<td><%= "%.2f zł" % line_item.total_price%></td>
</tr>
<% i += 1 %>
<% end %>
<tr style="font-weight:bold">
  <td colspan="3" style="text-align:right">Total Price:</td>
  <td><%= "%.2f zł" % @cart.price %></td>
</tr>
</tbody>
</table>

<% else %>
  <h2 class="center">Your cart is empty!</h2>
<% end %>

</div>
<ul class="pager">
  <li class="previous">
    <%= link_to "&larr; Continue shopping".html_safe, products_path %>
  </li>
  <% if session[:cart].count == 0 %>
    <li class="next disabled">
      <%= link_to "Shipping info &rarr;".html_safe, "#" %>
    </li>
  <% else %>
    <li class="next">
      <% if signed_in? %>
        <%= link_to "Shipping info &rarr;".html_safe, new_order_path %>
      <% else %>
        <a data-toggle="modal" href="#signInModal">Shipping info &rarr;</a>
      <% end %>
  <% end %>
</li>
</ul>



<div id="signInModal"
     class="modal hide fade in sign-in-modal"
     id="sign-in-modal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="false"
     style="display: none">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Sign in</h3>
  </div>
  <div class="modal-body">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>
      <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal">Close</button>
    <%= f.submit "Sign in", class: "btn btn-primary" %>
  <% end %>
  </div>
</div>
</div>

