<!-- table partial for viewing products in large cart / confirmation view -->

<table class="table table-striped table-products">
  <thead>
    <tr>
      <th class="id">
        Lp
      </th>
      <th class="name">
        Nazwa
      </th>
      <th class="price-variant">
        Rozmiar
      </th>
      <th class="price-variant">
        Ilość
      </th>
      <th class="price-variant">
        Cena<sup class="muted">[zł]</sup>
      </th>
      <th class="price-variant">

      </th>
    </tr>
  </thead>
  <tbody>
    <% nr = 1 %>
    <% @line_items.each do |item| %>
      <tr>
        <td class="id">
          <%= nr %>
          <% nr += 1 %>
        </td>
        <td class="name">
          <%= item.product.name %><br>
          <small class="muted">
            <%= item.product.category.name %>
          </small>
        </td>
        <td class="price-variant">
          <%= item.variant.size %>
        </td>
        <td class="price-variant">
          <%= link_to({ :controller => "line_items", :action => "update", :id => item.variant.id, :operation => "subtract" }, { :class => "icon-link"} ) do %>
            <i class="icon-chevron-left"></i>
          <% end %>
          <%= item.quantity %>
          <%= link_to({ :controller => "line_items", :action => "update", :id => item.variant.id, :operation => "add" }, { :class => "icon-link" }) do %>
            <i class="icon-chevron-right"></i>
          <% end %>
        </td>
        <td class="price-variant">
          <%= "%.2f" % item.total_price %>
        </td>
        <td class="price-variant">
          <%= link_to({ :controller => "line_items", :action => "destroy", :id => item.variant.id }, { :class => "btn btn-link" }) do %>
            <i class="icon-remove"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
    <tr class="delivery-info">
      <td class="id-icon">
        <i class="icon-info-sign"></i>
      </td>
      <th class="middle">
        Kosz dostawy
      </th>
      <td class="price-variant">-</td>
      <td class="price-variant">-</td>
      <th class="price-variant">
        0,00
      </th>
      <td class="price-variant">-</td>
    </tr>
    <tr class="total-price-info">
      <td class="id-icon">
        <i class="icon-info-sign"></i>
      </td>
      <th class="middle">
        Kosz całkowity
      </th>
      <td class="price-variant">-</td>
      <td class="price-variant">-</td>
      <th class="price-variant">
        <%= "%.2f" % @cart.price %>
      </th>
      <td class="price-variant">-</td>
    </tr>
  </tbody>
</table>
