<ul class="nav">

  <!-- HOME  -->

  <li class="<%= current_page?(root_url) ? "active" : ""%>">
    <a href="<%= url_for root_url %>"><i class="icon-home"></i> Home</a>
  </li>

  <!-- PRODUCTS -->

  <li class="<%= current_page?(products_path) ? "active" : ""%>">
    <a href="<%= url_for products_path %>">Food Menu</a>
  </li>

  <!-- SERVICES MENU -->

  <li class="dropdown">
    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
      Services <i class="caret"></i>
    </a>
    <ul class="dropdown-menu">
      <li><a href="<%= url_for services_reservations_path %>">Reservations</a></li>
      <li><a href="<%= url_for services_catering_path %>">Catering</a></li>
      <li class="divider"></li>
      <li><a href="<%= url_for services_contact_path %>">Contact Us</a></li>
    </ul>
  </li>

  <!-- ABOUT -->

  <li class="<%= current_page?(home_about_path) ? "active" : ""%>">
    <a href="<%= url_for home_about_path %>">About</a>
  </li>

  <!-- CART -->

    <li class="<%= current_page?(new_order_path) ? "active" : ""%>" >
      <%= link_to new_order_path do %>
        <i class="icon-shopping-cart"></i>
        <% if session[:cart] %>
          <% if session[:cart].count >= 1 %>
            Current Order
            <span class="badge badge-info"><%= session[:cart].count %> product(s)</span>
          <% else %>
            Current Order
          <% end %>
        <% else %>
          Current Order
        <% end %>
      <% end %>
    </li>
</ul>
