<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="container nav-collapse">

        <%= render 'layouts/header_navbar_links' %>

        <% if current_user %>

          <% if current_user.role.admin? %>
            <%= render 'layouts/user_admin_menu' %>
          <% else %>
            <%= render 'layouts/user_customer_menu' %>
          <% end %>

        <% else %>
          <% unless current_view_is?('sessions', 'new') %>
          <%= form_for(:session, :url => sessions_path, :html => {:class => "navbar-form pull-right"}) do |f| %>
            <%= f.text_field :email, :class => 'span2', :placeholder => 'Email'%>
            <%= f.password_field :password, :class => 'span2', :placeholder => 'Password'%>
            <%= f.submit 'Sign in', :class => 'btn'%>
          <% end %>
          <% end %>
        <% end %>

      </div>
    </div>
  </div>
</div>

