<ul class="nav">

  <!-- HOME  -->

  <li class="<%= current_page?(root_url) ? "active" : ""%>">
    <a href="<%= url_for root_url %>"><i class="icon-home icon-white"></i> Główna</a>
  </li>

  <!-- PRODUCTS -->

  <li class="<%= current_page?(products_path) ? "active" : ""%>">
    <a href="<%= url_for products_path %>">
      <i class="icon-book icon-white"></i> Menu</a>
  </li>

  <!-- SERVICES -->

  <li><a href="<%= url_for services_reservations_path %>">
      <i class="icon-calendar icon-white"></i> Rezerwacje</a>
  </li>
  <li><a href="<%= url_for services_catering_path %>">
      <i class="icon-globe icon-white"></i> Catering</a></li>

  <!-- ABOUT -->

  <li class="<%= current_page?(home_about_path) ? "active" : ""%>">
    <a href="<%= url_for home_about_path %>">
      <i class="icon-info-sign icon-white"></i> Informacje</a>
  </li>
  <li>
    <a href="<%= url_for services_contact_path %>">
      <i class="icon-envelope icon-white"></i> Kontakt</a>
  </li>

  <!-- CART -->

    <li class="<%= current_page?(new_order_path) ? "active" : ""%>" >
      <%= link_to new_cart_path do %>
        <i class="icon-shopping-cart icon-white"></i> Koszyk
        <% if @cart.try(:price) %>
          [ <%= "%.2f" % @cart.price %><sup> zł</sup> ]
        <% end %>
      <% end %>
    </li>
</ul>
