<!-- header -->
<header class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="<%= root_url %>">Margherita</a>
      <!-- <a id="logo" href="<%= root_url %>">MARGHERITA / KUŹNIA Cafe & Pizza</a> -->
      <div class="nav-collapse collapse">
        <ul class="nav">
           <!-- <li> -->
           <!--   <%= link_to new_cart_path do %> -->
           <!--     <% if session[:cart].try(:count) %> -->
           <!--       <% if session[:cart].count == 1 %> -->
           <!--         You have 1 item -->
           <!--       <% else %> -->
           <!--         You have -->
           <!--         <%= session[:cart].count %> -->
           <!--         items -->
           <!--       <% end %> -->
           <!--     <% else %> -->
           <!--       Empty! -->
           <!--     <% end %> -->
           <!--     <i class="icon-shopping-cart icon-large" style="margin-left:-4px"></i> -->
           <!--   <% end %> -->
           <!-- </li> -->
           <li><%= link_to "Home", root_url %></li>
           <li><%= link_to "About", home_about_path %></li>
           <li><%= link_to "Help", home_help_path %></li>
          <!-- <% if signed_in? %> -->
          <!--   <li><%= link_to 'Users', '#' %></li> -->
          <!--   <li id="fat-menu" class="dropdown"> -->
          <!--     <a href="#" class="dropdown-toggle" data-toggle="dropdown"> -->
          <!--       Account <b class="caret"></b> -->
          <!--     </a> -->
          <!--     <ul class="dropdown-menu"> -->
          <!--       <li><%= link_to "Your Orders", orders_path %></li> -->
          <!--       <li><%= link_to "Settings", edit_user_path(current_user) %></li> -->
          <!--       <li class="divider"></li> -->
          <!--       <li> -->
          <!--         <%= link_to "Sign out", signout_path, method: "delete" %> -->
          <!--       </li> -->
          <!--     </ul> -->
          <!--   </li> -->
          <!-- <% else %> -->
          <!--  <li><%= link_to "Sign in", signin_path %></li> -->
          <!-- <% end %> -->
        </ul>
        <form class="navbar-form pull-right">
          <input class="span2" type="text" placeholder="Email">
          <input class="span2" type="password" placeholder="Password">
          <button class="btn" type="submit">Sign in</button>
        </form>
      </div>
    </div>
  </div>
</header>

