<!-- Masthead
     ================================================== -->
<header class="jumbotron subhead" id="overview">
  <!-- Error Messages -->
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>

  <div class="row-fluid">
    <div class="span7">
      <h1 id='shop-title'>Kuźnia<small> cafe&nbsp;&&nbsp;pizza</small></h1>
    </div>
    <div class="span5 header-nav">
      <ul>
        <li id="basket">
          <%= link_to "View Basket", new_cart_path, class: "btn btn-success"%><br>
            <p style="text-align: right; line-height: 1; margin-top: 3px;">
              <% if there_is_something_in_cart? %>
                <small>
                  <%= @line_items.count %> products<br>
                  <%= "%.2f" % @cart.price %> zł
                </small>
              <% end %>
            </p>
        </li>
        <% unless current_user or current_page?(signup_path) %>
          <li id="register">
            <%= link_to "Create account", signup_path, class: "btn btn-success" %>
            <p style="text-align: center; line-height: 1; margin-top: 3px;">
              <small>and check out our super<br>fast online ordering!</small>
            </p>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
    <%= render params[:controller] + "/subnav" %>
</header>
