<!-- Masthead
     ================================================== -->
<header class="jumbotron subhead" id="overview">
  <!-- Error Messages -->
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>

  <div class="row-fluid">
    <div class="span7">
      <h1 id="shop-title">Kuźnia<small> cafe&nbsp;&&nbsp;pizza</small></h1>
      <!-- <p class="lead">restauracja rodzinna</p> -->
    </div>
    <div class="span5 header-nav">
      <ul>
        <li id="basket">
          <%= link_to "TWÓJ KOSZYK", new_cart_path %><br>
          <strong>
            7 produktów<br>
            47,50 zł
          </strong>
        </li>
        <% unless current_user or current_page?(signup_path) %>
          <li id="register">
            <%= link_to "Zerejestruj się!", signup_path, class: "btn btn-success" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
    <%= render params[:controller] + "/subnav" %>
</header>
