<!-- Masthead
     ================================================== -->
<header class="jumbotron subhead" id="overview">
  <!-- Error Messages -->
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>

  <div class="row-fluid">
    <div class="span7">
      <a href="<%= root_url %>" class="link-unstyled">
        <h1 id="header-title">Kuźnia<small> cafe&nbsp;&&nbsp;pizza</small></h1>
      </a>
    </div>
    <div class="span5 header-nav hidden-phone">
      <ul>
        <li id="basket">
          <%= link_to "View Basket", new_cart_path, class: "btn btn-success"%><br>
          <div id="cart-info">
            <%= render "line_items/cart_info" %>
          </div>
        </li>
        <% unless current_user or current_page?(signup_path) %>
          <li id="register">
            <%= link_to "Create account", signup_path, class: "btn btn-success" %>
            <p style="text-align: center; line-height: 1; margin-top: 3px;">
              <small>and check out our super<br>fast online ordering!</small>
            </p>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
    <%= render params[:controller] + "/subnav" %>
</header>
