<!-- Masthead
     ================================================== -->
<header class="jumbotron subhead" id="overview">
  <!-- Error Messages -->
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>

  <div class="row-fluid">
    <div class="span7">
      <h1 id="shop-title">Kuźnia<small> cafe&nbsp;&&nbsp;pizza</small></h1>
      <!-- <p class="lead">restauracja rodzinna</p> -->
    </div>
    <div class="span5 header-nav">
      <ul>
        <li id="basket">
          <%= link_to "Your Basket", new_cart_path, class: "btn btn-success"%><br>
            <p style="text-align: right; line-height: 1; margin-top: 3px;">
              <small>7 products<br>44,50 zł</small>
            </p>
        </li>
        <% unless current_user or current_page?(signup_path) %>
          <li id="register">
            <%= link_to "Create account!", signup_path, class: "btn btn-success" %>
            <p style="text-align: center; line-height: 1; margin-top: 3px;">
              <small>Checkout our super-fast<br>online ordering!</small>
            </p>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
    <%= render params[:controller] + "/subnav" %>
</header>
