<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-target=".navbar-responsive-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="nav-collapse collapse navbar-responsive-collapse">

        <%= render 'layouts/header_navbar_links' %>

        <% if current_user %>

          <% if current_user.role.admin? %>
            <%= render 'layouts/user_admin_menu' %>
          <% else %>
            <%= render 'layouts/user_customer_menu' %>
          <% end %>

        <% else %>
          <% unless current_view_is?('sessions', 'new') %>
            <%= form_for(:session, :url => sessions_path, :html => {:class => "navbar-form pull-right visible-desktop"}) do |f| %>
              <%= f.text_field :email, :class => 'input-medium', :placeholder => 'Email'%>
              <%= f.password_field :password, :class => 'input-small', :placeholder => 'Hasło'%>
              <%= f.submit 'Zaloguj', :class => 'btn'%>
            <% end %>
            <ul class="nav pull-right hidden-desktop">
              <li>
                <%= link_to signin_path do %>
                  <i class="icon-hand-right icon-white"></i> Logowanie
                <% end %>
              </li>
            </ul>
          <% end %>
        <% end %>

      </div>
    </div>
  </div>
</div>
