<ul class="nav pull-right">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      <i class="icon-user icon-white"></i> <%= current_user.email %> <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li class="nav-header">Admin Menu</li>
      <li><%= link_to "Users", admin_users_path %></li>
      <li><%= link_to "Products", categories_path %></li>
      <li><%= link_to "Orders", orders_path(filter: 'all') %></li>
      <li class="divider"></li>
      <li class="nav-header">User Menu</li>
      <li><%= link_to "View/Edit Profile", user_path(current_user) %></li>
      <li>
        <%= button_to "Sign Out", signout_path, method: "delete", class: "btn btn-block btn-danger" %>
      </li>
    </ul>
  </li>
</ul>
