<ul class="nav pull-right" style="margin-right: 0">
  <li id="fat-menu" class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      <i class="icon icon-user"></i>Admin Menu <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><%= link_to "Users", admin_users_path %></li>
      <li><%= link_to "Categories", admin_categories_path %></li>
      <li><%= link_to "Orders", orders_path(filter: 'pending') %></li>
      <li><%= link_to "Products", products_path %></li>
      <li><%= link_to "New Product", new_product_path %></li>
      <li><%= link_to "New Category", new_category_path %></li>
    </ul>
  </li>
</ul>
