<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <%= render 'layouts/header' %>
      <div class="content">
        <% if @categories == nil %>
          <div id="talltabs-maroon">
            <ul>
              <li><%=link_to "MENU", products_path%></li>
            </ul>
          </div>
        <% else %>
          <div id="talltabs-maroon">
            <ul>
              <% @categories.each do |category| %>
                <li>
                  <%=link_to category.name.upcase, category_products_path(category)%>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <%= yield %>
      </div>
    <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
