<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Margherita | <%= yield(:title) %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="page">
      <div id="navi">
        <div id="home-nav">
          <%= render "home/home_menu"%>
        </div>
      </div>
      <div id="content-container">
        <%= yield %>
      </div>

      <div id="footer">
        <%= render "home/footer" %>
      </div>

    </div>
  </body>
</html>
